.button-link,
.button-close,
.button-info {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 8px;
}

.button-link {
  background-color: #007bff;
}

.button-link:hover {
  background-color: #0056b3;
}

.button-link:disabled {
  background-color: grey;
  transition: background-color 2s ease-in-out;
}

.button-close {
  background-color: #ff0055;
}

.button-close:hover {
  background-color: #df5a74;
}

.button-info {
  background-color: #4000ff;
}

.button-info:hover {
  background-color: #010305;
}

.task-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-task {
  position: relative;
  width: 150px;
  max-width: 100%;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #378dd4;
  background-color: #08ace8;
  transition: all 0.3s;
}

.button-task .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
  transition: all 0.3s;
}

.button-task .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #1e68e0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.button-task .svg {
  width: 10px;
  stroke: #fff;
}

.button-task:hover {
  background: #103de0;
}

.button-task:hover .button__text {
  color: transparent;
}

.button-task:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button-task:active {
  border: 1px solid #09b8e4;
}

.button-task:active .button__icon {
  background-color: #320bf4;
}

.button-submit {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  max-width: 100%;
}

.button-submit span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-submit:hover span {
  background: none;
}

.button-submit:active {
  transform: scale(0.9);
}

.button-submit:focus,
.button-task:focus,
.button-link:focus,
.button-close:focus,
.button-info:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}
