.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-bottom: 10px;
}

.tasks-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  padding: 10px;
}

@media (min-width: 600px) {
  .tasks-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 900px) {
  .tasks-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1200px) {
  .tasks-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

.Deadline {
  color: red;
  font-weight: bold;
}

.soloback,
.archivedback {
  width: 100%;
  height: 100vh;
  background: no-repeat center center;
  background-size: cover;
}

.soloback::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('../photos/taskback.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.1;
  pointer-events: none;
}

.archivedback::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('../photos/persona-3.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.1;
  pointer-events: none;
}

.roll-in-blurred-left {
  animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1, 0.320, 1) both;
}

@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  display: flex;             
  
  flex-direction: column;    
  justify-content:center;    
  align-items: center;
  
   
  text-align:justify;
}

.checkmark {
  position: relative;
  height: 1.3em;
  width: 1.3em;
  background-color: #2196F300;
  border-radius: 0.25em;
  transition: all 0.25s;
  padding: 2px;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  border: 0.1em solid #f0eeee;
  left: 0;
  top: 0;
  width: 1.05em;
  height: 1.05em;
  border-radius: 0.25em;
  transition: all 0.25s, border-width 0.1s;
}

.container input:checked ~ .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border-color: #fff0 white white #fff0;
  border-width: 0 0.15em 0.15em 0;
  border-radius: 0;
  transform: rotate(45deg);
}
