#grad1 {
  animation-name: rainbow;
  animation-duration: 33s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
}

@keyframes rainbow {
  0% { color: red; }
  25% { color: green; }
  50% { color: blue; }
  75% { color: purple; }
  100% { color: pink; }
}

body {
  background-color: black;
  color: white;
}

.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  border-color: rgb(23, 119, 202);
}

.homepageback,
.leveling,
.overlords {
  position: relative;
  width: 100%;
  height: 100vh;
  background: no-repeat center center;
  background-size: cover;
}

.homepageback::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('../photos/spiderverse.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.1;
  pointer-events: none;
}

.leveling::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('../photos/deku.gif') no-repeat center center;
  background-size: cover;
  opacity: 0.1;
  pointer-events: none;
}

.overlords::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('../photos/overlords.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.1;
  pointer-events: none;
}

.container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.square {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  position: relative;
  overflow: auto;
  flex: 1;
  margin: 20px;
}

.square img {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 20%;
  flex: 0 0 auto;
  display: flex;
  object-fit: cover;
  margin-bottom: 20px;
}

.pfp {
  height: 100px;
  width: 200px;
}

.square p {
  top: 10px;
  flex: 1;
  margin-right: 20px;
  left: 10px;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.rainbow-text {
  font-weight: bold;
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbowAnimation 10s infinite linear;
}

@keyframes rainbowAnimation {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
